version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: chat-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./server
    container_name: chat-server
    ports:
      - "3000:3000"
    # FIX: Point to the file path, do not list variables here
    env_file:
      - ./server/.env
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules

volumes:
  mongo-data: